@(HTMLString : String, authentication: Integer)

@main("Home", meta)(subtitle)(content)

@meta = {
        <meta property="og:title" content="4Travelers - Home" />
        <meta name="description" content="This website is dedicated to fetch/handle data from external sources in order to produce semantic data in RDF format with the addition of users' recommendations.">
        <meta property="og:description" content="This website is dedicated to fetch/handle data from external sources in order to produce semantic data in RDF format with the addition of users' recommendations." />
}

<!-- tag your location page -->
@subtitle = {
			<h1><a>Get information with us !</a></h1>
			<p>This space will allow you to gather information about your destination places. So start your search now !</p>
}

<!-- set the content to the current page -->
@content = {
			<!-- start form search frame -->
			<section class='row tab-finder'>
			    <div class='span12'>
			        <div class="tabbable">
			            <div id='search-content' class="search-content">
			                <div class='inner'>
			                	<p id="search-head-line">Please select your destination city</p>
			                    <form id="form-search" name="form-search" action="/search" method="post">
			                        <input type="text" name='search-string' id='search-string' class='search-string' placeholder="e.g Montpellier, Paris, London"/>
			                        <input type="hidden" name="destination-city" id="destination-city" />
			                        <button type="submit" class='btn btn-success btn-lg btn-block'>
			        					<i class="icon-search icon-white"> </i> Search
			        				</button>
			                    </form>
			                </div>
			           	</div>
			        </div>
			    </div>
			</section>
			<!-- ends form search frame -->
			
			@if(HTMLString != null) {
			<!-- start slides bottom show frame -->
			<section class='row featured-items'>
			    <div class='span12'>
			        <h2 style='margin-top:40px;'>Most Visited Cities</h2>
			        
			        <!-- start places arrows control -->
			        <div class='controls'>
			            <a href="#" class='prev'>Previous</a>
			            <a href="#" class='next'>Next</a>
			        </div>
			        <!-- ends places arrows control -->
			        
			        <!-- start cities slides frame -->
			        <div class='featured-items-slider'>
			            <ul class='slides'>
                           @Html(HTMLString)
			            </ul>
			        </div>
			        <!-- ends cities slider frame -->
			    </div>
			    
			    <!-- decorator space -->
			    <i class='content-bubble'> </i>
			</section>
			<!-- ends slides bottom show frame -->
			} 
            	
	        <!-- authentication -->
	        <input type="hidden" id="authentication" value="@authentication"/>		
	        	<!-- start upper footer-->
	           		<section class='container index-container'>
		                <section class='row'>
		                    <div class='span4 footer-widget'>
		                        <h2>About Us</h2>
		                        <p>As students at the University of Montpellier 2 computer science courses, we have developed this project in an educational setting enrolling in the curriculum MASTER.</p>
		                        <p>The purpose of this project is based on the exploitation of advanced web (HTML, RDF, JavaScript, APIs) technologies. The uses of content from more than one source to create...</p>
		                        <a href="/about" class='read-more'>Learn More</a>
		                    </div>
		                    <div class='span4 footer-widget'>
		                        <h2>Development</h2>
		                        <div class='blog-style'>
		                            <article>
		                                <div class='version-box'>
		                                    <div class='version'>2.2.0</div>
		                                    <div class='v'>version</div>
		                                </div>
		                                <div class='text-box'>
		                                    <h3><a href="#">Play Framework</a></h3>
		                                    <span class='author'>Developpement framework</span>
		                                    <div class='excerpt'>
		                                        <p>The Reactive Web Framework.</p>
		                                    </div>
		                                </div>
		                            </article>
		                            <br/>
		                            <article>
		                                <div class='version-box'>
		                                    <div class='version'>1.7.0</div>
		                                    <div class='v'>version</div>
		                                </div>
		                                <div class='text-box'>
		                                    <h3><a href="#">Java</a></h3>
		                                    <span class='author'>Programming language</span>
		                                    <div class='excerpt'>
		                                        <p>Java(TM) SE Runtime Environment (TM)</p>
		                                    </div>
		                                </div>
		                            </article>
		                        </div>
		                    </div>
		                    <div class='span4 footer-widget'>
		                        <h2>Testimonials</h2>
		                        <div class='testimonial-box'>
		                            <div class='controls'>
		                                <a href="#" class='prev'>Previous</a>
		                                <a href="#" class='next'>Next</a>
		                            </div>
		                            <ul class='slides'>
										<li>
		                                    <div class='slide-box'>
		                                        <div class='text-box'>
		                                            <div class='inner'>
		                                                <p>"Not bad guys !!! this project is proof of a good job. Your teacher should be proud of you. Good luck rigth there."</p>
		                                            </div>
		                                            <i class='bubble'></i>
		                                        </div>
		                                        <div class='author-box'>
		                                            <figure></figure>
		                                            <div class='texts'>
		                                                <span class='name'>Jean Pierre  LORENTE</span> <br />
		                                                <span class='position'>Université Montpellier 2</span>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>		                            
		                                <li>
		                                    <div class='slide-box'>
		                                        <div class='text-box'>
		                                            <div class='inner'>
		                                                <p>"The project is really interesting, it offers the ability to have multiple 
		                                                information in a tourism context in one place. I like it."</p>
		                                            </div>
		                                            <i class='bubble'></i>
		                                        </div>
		                                        <div class='author-box'>
		                                            <figure></figure>
		                                            <div class='texts'>
		                                                <span class='name'>Wissame LADDADA</span> <br />
		                                                <span class='position'>Université Montpellier 2</span>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                            </ul>
		                        </div>
		                    </div>
		                    <i class='footer-bubble'></i>
		                </section>
            		</section>
            		<!-- ends upper footer -->
}
