@(getListMostTraveledCities : String, getListMostInteractiveUsers : String, getListBestRatedCities : String, getTotalUsers : String, getNumberOfDestinationsSearched : String)

@main("Services", meta)(subtitle)(content)

@meta = {
        <meta property="og:title" content="4Travelers - Services" />
        <meta name="description" content="Here are some examples of how you can user our data from our SPARQL EndPoint.">
        <meta property="og:description" content="Here are some examples of how you can user our data from our SPARQL EndPoint." />
}

@subtitle = {
            <h1><a>Services</a></h1>
            <p>Some examples how you can use our data.</p>
}

@content = {
            <section class='container'>
                <section class='row'>
                    <div class='span9'>
                        <div class='endpoint-box full-width'>
                            <!-- -->
                            <div class='title-bar'>
                                <div class='inner'>
                                    <div class='pull-left custom-margin' style="margin-top: 2px;margin-bottom: 13px;">
                                        <h2><strong>Services</strong></h2>
                                    </div>
                                </div>
                            </div>
                            
                            <div class='endpoint-box-content'>
                                <div class='inner' id="services">
                                    <p>Below are some example of how you can use our data from the <a href="/sparql">SPARQL EndPoint</a>.</p>
								    
								    <div class="clearfix">
									    <div class="left-serv">
										    <h3>Most Traveled Cities</h3>
										    @Html(getListMostTraveledCities)
										
										    <h3>Best Rated Cities</h3>
		                                    @Html(getListBestRatedCities)
									    </div>
									    
									    <div class="right-serv">
										    <h3>Most Interactive Users</h3>
										    @Html(getListMostInteractiveUsers)
										    
										    <h3>Total Users</h3>
										    <p>@getTotalUsers</p>
										    
										    <h3>Total Destinations searched</h3>
                                            <p>@getNumberOfDestinationsSearched</p>
									    </div>
								    </div>
								    </div>
                            </div>
                            <!-- -->
                        </div>
                    </div>
                </section>
            </section>
}